<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TraveLzia</title>
    <link rel="icon" href="/static/images/link.svg" type="image/x-icon">

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <a id="click-contact-us" href="#contactus" style="display: none;"></a>
    <div id="home">
        <div class="logo-bar">
            <div>
                <div class="btn-contact" onclick="handleClickContactUs()">
                    <i class="fa-solid fa-phone"></i>
                    Contact
                </div>
            </div>
            <div class="logo">TRAVELZIA </div>
            <div style="text-align: right;">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>

        <hr />

        <div id="navbar">
            <a href="#home">Home</a>
            <a href="#about-us">About Us</a>
            <a href="#destinations">Destinations</a>
            <a href="#packages">Packages</a>
            <a href="#gallery-start">Gallery</a>
            <a href="#packages">Book Now</a>
        </div>

        <div class="content">
            <div class="title">
                <div>
                    Discover the world with a
                </div>
                <div>
                    trusted travel companion
                </div>
            </div>
            <div class="description">
                "We believe in the essence of travel — not just to reach a destination but to embrace the journey
                itself.
                Our passion lies in the art of exploration, where every step is an adventure."
            </div>
        </div>
    </div>

    <div id="about-us">
        <div class="about-us-img">
            <img src="/static/images/about-banner.png">
        </div>
        <div class="content">
            <div class="title">
                About US
            </div>
            <div class="description">
                Embark on a boundless adventure across the world's wonders with our expertly crafted tours
            </div>
            <div class="sub-description">
                <div class="about-us-points">
                    <div>
                        <i class="fa-solid fa-compass"></i>
                    </div>
                    <div>
                        <div>Tour guide</div>
                        <div>
                            Guiding you through destinations with passion and expertise, our tours are crafted to unveil
                            hidden wonders and create unforgettable memories at every step.
                        </div>
                    </div>
                </div>
                <div class="about-us-points">
                    <div>
                        <i class="fa-solid fa-suitcase"></i>
                    </div>
                    <div>
                        <div>Friendly price</div>
                        <div>
                            Experience quality at an affordable rate with our friendly-priced options, ensuring
                            budget-friendly adventures without compromising on value.
                        </div>
                    </div>
                </div>
                <div class="about-us-points">
                    <div>
                        <i class="fa-solid fa-umbrella"></i>

                    </div>
                    <div>
                        <div>Reliable tour</div>
                        <div>
                            Reliability is our signature—experience peace of mind as we lead you through well-planned
                            tours, ensuring a consistently excellent and safe adventure.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="destinations">
        <div class="des-title">POPULAR DESTINATION</div>
        <div class="des-subtitle">"Explore a kaleidoscope of destinations, each offering a
            unique tapestry of culture, landscapes, and stories waiting to be discovered."</div>
        <div class="content">
            <div class="card">
                <div>
                    <img src="/static/images/aus1.jpg">
                    <div class="btn-book-now">
                        BOOK NOW
                    </div>
                </div>
                <div>
                    <div>AUSTRALIA</div>
                    <div>From the iconic Sydney Opera House to the natural marvels of the Great Barrier Reef, Australia
                        beckons with a fusion of urban charm and breathtaking landscapes.</div>
                </div>
            </div>
            <div class="card">
                <div>
                    <img src="/static/images/dubai1.png">
                    <div class="btn-book-now">
                        BOOK NOW
                    </div>
                </div>
                <div>
                    <div>DUBAI</div>
                    <div>Dubai dazzles with its futuristic skyline, offering luxury shopping, desert safaris, and iconic
                        landmarks like the Burj Khalifa.</div>
                </div>
            </div>
            <div class="card">
                <div>
                    <img src="/static/images/maldives 2.jpg">
                    <div class="btn-book-now">
                        BOOK NOW
                    </div>
                </div>
                <div>
                    <div>MALDIVES</div>
                    <div>The Maldives beckons with its pristine beaches, crystal-clear waters, and overwater bungalows,
                        creating a serene paradise for unforgettable relaxation.</div>
                </div>
            </div>
        </div>
    </div>

    <div id="packages">
        <div class="pack-title">PACKAGES</div>
        <div class="card">
            <div class="p-img">
                <img src="/static/images/aus2.jpg" alt="">
            </div>
            <div class="p-des">
                <div>SUMMER HOLIDAY TO THE SPANDA</div>
                <div>
                    From the iconic Sydney Opera House to the natural marvels of the Great Barrier Reef, Australia
                    beckons with a fusion of urban charm and breathtaking landscapes.
                </div>
                <div class="package-icons">
                    <div>
                        <i class="fa-solid fa-clock"></i>
                        7D/6N
                    </div>
                    <div>
                        <i class="fa-solid fa-user-group"></i>
                        max: 10
                    </div>
                    <div>
                        <i class="fa-solid fa-location-dot"></i>
                        AUSTRALIA
                    </div>
                </div>
            </div>
            <div class="p-price">
                <div>(20 review) &#32; &#32; &#9733; &#9733; &#9733; &#9733; &#9734;</div>
                <div>
                    <div>
                        &#8377; 30,000
                    </div>
                    <div>
                        / per person
                    </div>
                </div>
                <div class="btn-book-now"><a
                        href="https://www.emirates.com/in/english/destinations/flights-to-sydney/">BOOK NOW</a></div>
            </div>
        </div>
        <div class="card">
            <div class="p-img">
                <img src="/static/images/dubai5.jpg">
            </div>
            <div class="p-des">
                <div>SUPER HOLIDAY TO DUBAI</div>
                <div>
                    "Dubai, where towering skyscrapers meet golden deserts,
                    offers an extravagant fusion of luxury, adventure, and cultural vibrancy."
                </div>
                <div class="package-icons">
                    <div>
                        <i class="fa-solid fa-clock"></i>
                        5D/6N
                    </div>
                    <div>
                        <i class="fa-solid fa-user-group"></i>
                        max: 8
                    </div>
                    <div>
                        <i class="fa-solid fa-location-dot"></i>
                        DUBAI
                    </div>
                </div>
            </div>
            <div class="p-price">
                <div>(46 review) &#9733; &#9733; &#9733; &#9733; &#9734;</div>
                <div>
                    <div>
                        &#8377; 80000
                    </div>
                    <div>
                        / per person
                    </div>
                </div>
                <div class="btn-book-now"><a
                        href="https://www.emirates.com/in/english/book/featured-fares/?filter1=airport&airport=BLR&filter2=airports&airports=DXB&filter3=class&class=Y&intc_type=featured-fares&intc_name=Y:BLR-DXB:INR%2025%2C956*&intc_creative=link&intc_location=home">BOOK
                        NOW</a></div>
            </div>
        </div>
        <div class="card">
            <div class="p-img">
                <img src="/static/images/iceland 1.avif" alt="">
            </div>
            <div class="p-des">
                <div>VISIT THE SNOWY LAND OF ICELAND</div>
                <div>
                    "Iceland, a land of fire and ice, captivates
                    with its rugged landscapes, geothermal wonders, and cascading waterfalls."
                </div>
                <div class="package-icons">
                    <div>
                        <i class="fa-solid fa-clock"></i>
                        3D/4N
                    </div>
                    <div>
                        <i class="fa-solid fa-user-group"></i>
                        max: 5
                    </div>
                    <div>
                        <i class="fa-solid fa-location-dot"></i>
                        ICELAND
                    </div>
                </div>
            </div>
            <div class="p-price">
                <div>(11 review) &#9733; &#9733; &#9733; &#9733; &#9733;</div>
                <div>
                    <div>
                        &#8377; 72,000
                    </div>
                    <div>
                        / per person
                    </div>
                </div>
                <div class="btn-book-now">BOOK NOW</div>
            </div>
        </div>
        <div class="card">
            <div class="p-img">
                <img src="/static/images/kd1.jpg" alt="">
            </div>
            <div class="p-des">
                <div>A SPIRIRTUAL VISIT FOR KEDARNATH</div>
                <div>
                    "Kedarnath, nestled in the Himalayas, holds sacred significance as a revered
                    Hindu pilgrimage site with its ancient temple dedicated to Lord Shiva."
                </div>
                <div class="package-icons">
                    <div>
                        <i class="fa-solid fa-clock"></i>
                        2D/1N
                    </div>
                    <div>
                        <i class="fa-solid fa-user-group"></i>
                        max: 3
                    </div>
                    <div>
                        <i class="fa-solid fa-location-dot"></i>
                        KEDARNATH
                    </div>
                </div>
            </div>
            <div class="p-price">
                <div>(33 review) &#9733; &#9733; &#9733; &#9733; &#9733;</div>
                <div>
                    <div>
                        &#8377; 23,000
                    </div>
                    <div>
                        / per person
                    </div>
                </div>
                <div class="btn-book-now">BOOK NOW</div>
            </div>
        </div>
        <div class="card">
            <div class="p-img">
                <img src="/static/images/maldives 3.avif" alt="">
            </div>
            <div class="p-des">
                <div>DIVE INTO THE OCEANIC BEAUTY OF MALDIVES</div>
                <div>
                    a tropical paradise of turquoise waters and pristine
                    white sand beaches spread across a collection of breathtaking coral islands.
                </div>
                <div class="package-icons">
                    <div>
                        <i class="fa-solid fa-clock"></i>
                        7D/6N
                    </div>
                    <div>
                        <i class="fa-solid fa-user-group"></i>
                        max: 10
                    </div>
                    <div>
                        <i class="fa-solid fa-location-dot"></i>
                        ICELAND
                    </div>
                </div>
            </div>
            <div class="p-price">
                <div>(20 review) &#9733; &#9733; &#9733; &#9734; &#9734;</div>
                <div>
                    <div>
                        &#8377; 30,000
                    </div>
                    <div>
                        / per person
                    </div>
                </div>
                <div class="btn-book-now"><a
                        href="https://www.emirates.com/in/english/destinations/flights-to-maldives/">BOOK NOW</a></div>
            </div>
        </div>
    </div>
    <div class="view-more">VIEW MORE</div>

    <hr id="gallery-start" style="margin: 2vh 24px 0">
    <div class="gallery-title">GALLERY</div>
    <div id="gallery">
        <div>
            <div class="overlay">AUSTRALIA</div>
            <img src="/static/images/aus3.jpg">
        </div>
        <div>
            <div class="overlay">AUSTRALIA</div>
            <img src="/static/images/dubai3.webp">
        </div>
        <div>
            <div class="overlay">AUSTRALIA</div>
            <img src="/static/images/iceland 4.jpg">
        </div>
        <div>
            <div class="overlay">AUSTRALIA</div>
            <img src="/static/images/dubai2.webp">
        </div>
        <div>
            <div class="overlay">AUSTRALIA</div>
            <img src="/static/images/kd1.jpg">
        </div>
        <div>
            <div class="overlay">AUSTRALIA</div>
            <img src="/static/images/maldives 5.webp">
        </div>
        <div>
            <div class="overlay">AUSTRALIA</div>
            <img src="/static/images/iceland 5.jpg">
        </div>
        <div>
            <div class="overlay">AUSTRALIA</div>
            <img src="/static/images/aus4.webp">
        </div>
        <div>
            <div class="overlay">AUSTRALIA</div>
            <img src="/static/images/kd2.jpg">
        </div>
    </div>

    <div id="contactus">
        <div>
            <div class="contact-us-lister">
                <div>Top Destination</div>
                <div>Australia, Canberra</div>
                <div>United Arab Emirates, Dubai</div>
                <div>United Arab Emirates, Dubai</div>
                <div>United Arab Emirates, Dubai</div>
                <div>United Arab Emirates, Dubai</div>
            </div>
            <div class="contact-us-lister">
                <div>Categories</div>
                <div>Travel</div>
                <div>Lifestyle</div>
                <div>Fashion</div>
                <div>Education</div>
                <div>Food & Drink</div>
            </div>
            <div class="contact-us-lister">
                <div>Quick links</div>
                <div>About</div>
                <div>Contact</div>
                <div>Tour</div>
                <div>Booking</div>
                <div>Terms & Condition</div>
            </div>
            <div class="contact-us-newsletter">
                <div>Get a Newsletter</div>
                <div>To stay updated on the newest offers and travel insights, let your inbox be your ultimate guide
                </div>
                <div>
                    <input id="subscribe-mail" type="text" placeholder="Enter your email address">
                    <div onclick="handleSubscribe()">SUBSCRIBE</div>
                </div>
            </div>
        </div>
        <div>
            <div
                style="font-size: 44px; font-family: Rubik Broken Fax, sans-serif; display: grid; place-items: center; cursor: default;">
                &lt; TRAVELZIA &gt;
            </div>
            <div style="display: grid; place-items: center; cursor: default;">
                &copy;2023 All Rights Reserved
            </div>
            <div class="social-handles">
                <i class="fa-brands fa-facebook" onmouseover="this.style.color = 'royalblue'"
                    onmouseout="this.style.color = 'white'"></i>
                <i class="fa-brands fa-instagram"
                    onmouseover="this.style.color = 'transparent', this.style.backgroundImage = 'linear-gradient(to right bottom, magenta, yellow)', this.style.backgroundClip = 'text'"
                    onmouseout="this.style.color = 'white'"></i>
                <i class="fa-brands fa-x-twitter" onmouseover="this.style.color = 'black'"
                    onmouseout="this.style.color = 'white'"></i>
                <i class="fa-brands fa-linkedin" onmouseover="this.style.color = 'darkblue'"
                    onmouseout="this.style.color = 'white'"></i>
                <i class="fa-brands fa-square-google-plus" onmouseover="this.style.color = 'red'"
                    onmouseout="this.style.color = 'white'"></i>
            </div>
        </div>
    </div>




    <script src="/static/js/main.js"></script>
    <script src="https://kit.fontawesome.com/8ca24f4f23.js" crossorigin="anonymous"></script>
</body>

</html>