@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

#home {
    padding: 0 24px;
    color: white;
    width: 100%;
    height: 100vh;
    background-image: url("/static/images/landing.webp"), linear-gradient(to bottom, royalblue, rgba(0, 0, 0, 0.5));
    background-blend-mode: overlay;
    box-shadow: 0 0 30px 2px black;
}

.logo-bar {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-bar>div {
    width: 250px;
}

.logo {
    font-size: 44px;
    font-family: Rubik Broken Fax, sans-serif;
}

.btn-contact {
    padding: 10px;
    border: 1px solid white;
    border-radius: 8px;
    height: 50px;
    width: 136px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-contact i {
    padding: 8px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    transition: all 0.3s;
}

.btn-contact:hover {
    color: black;
    background-color: white;
}


.btn-contact:hover i {
    color: black;
    border-color: black;
}

#navbar {
    width: 100%;
    height: 10vh;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

@keyframes navbar-out {
    from {
        top: -10vh;
    }

    to {
        top: 0;
    }
}

a:hover {
    text-decoration: overline;
}

#home .content {
    transform: translateY(-25px);
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home .content .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 54px;
    line-height: 100%;
}

#home .content .title div {
    font-family: 'algerian', sans-serif;
}

#home .content .description {
    margin-top: 10px;
    padding: 0 100px;
    line-height: 100%;
    font-size: 24px;
    font-family: Cedarville Cursive, sans-serif;
    text-align: center;
}

#about-us {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

#about-us>div {
    height: 100%;
    flex: 1;
}

.about-us-img {
    display: grid;
    place-items: center;
}

.about-us-img img {
    width: 40vw;
}

#about-us .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-us .content .title {
    color: royalblue;
    font-family: 'algerian', sans-serif;
    font-size: 54px;
}

#about-us .content .description {
    padding: 0 48px;
    line-height: 100%;
    font-size: 24px;
    font-family: Cedarville Cursive, sans-serif;
    text-align: center;
}

#about-us .content .sub-description {
    width: 100%;
    padding: 0 48px;
    margin-top: 20px;
    text-align: center;
}

.about-us-points {
    height: 20vh;
    display: flex;
    align-items: center;
}

.about-us-points>div:nth-child(1) {
    flex: 2;
    font-size: 200%;
}

.about-us-points>div:nth-child(1) i {
    padding: 15px;
    background-color: royalblue;
    border-radius: 50%;
    animation: icon-attractive 2s linear infinite;
}

@keyframes icon-attractive {
    50% {
        transform: rotate(360deg) scale(1);
    }

    75% {
        transform: rotate(360deg) scale(1.2);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }

    98% {
        transform: rotate(360deg) scale(0.9);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

.about-us-points>div:nth-child(2) {
    flex: 8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-us-points>div:nth-child(2)>div:nth-child(1) {
    font-weight: 900;
    font-size: 125%;
}

.about-us-points>div:nth-child(2)>div:nth-child(2) {
    margin-top: 2px;
    line-height: 100%;
    text-align: justify;
}

#destinations {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: royalblue;
    box-shadow: 0 0 30px 2px royalblue;
}

.des-title {
    padding-top: 10px;
    color: white;
    font-size: 36px;
    font-family: 'algerian', sans-serif;
}

.des-subtitle {
    margin-top: 12px;
    line-height: 120%;
    padding: 0 200px;
    font-size: 24px;
    text-align: center;
    color: white;
    font-family: Cedarville Cursive, sans-serif;
}

#destinations .content {
    width: 100%;
    height: 78%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#destinations .content .card {
    width: 27%;
    height: 75%;
    border-radius: 18px;
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

#destinations .content .card>div {
    position: relative;
    padding: 6px;
    flex: 1;
    display: grid;
    place-items: center;
}

#destinations .content .card>div .btn-book-now {
    z-index: 0;
    padding: 6px;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    border-radius: 6px;
    background-image: linear-gradient(45deg, rgb(65, 105, 225), rgb(30, 49, 105));
    cursor: pointer;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}

#destinations .content .card>div .btn-book-now:active {
    box-shadow: none;
}

#destinations .content .card>div:nth-child(1) img {
    z-index: 1;
    width: 100%;
    border-radius: 18px;
    transition: all 0.2s;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

#destinations .content .card:hover>div:nth-child(1) img {
    transform: translateY(-50px);
}

#destinations .content .card>div:nth-child(2)>div:nth-child(1) {
    color: royalblue;
    font-size: 24px;
    font-family: 'algerian', sans-serif;
}

#destinations .content .card>div:nth-child(2)>div:nth-child(2) {
    padding: 0 6px;
    font-size: 15px;
    text-align: center;
    line-height: 120%;
}

#packages {
    width: 100%;
    height: 150vh;
    overflow: hidden;
    transition: height 0.5s;
}

.pack-title {
    height: 15vh;
    font-size: 54px;
    color: royalblue;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: 'algerian', sans-serif;
}

.gallery-title {
    font-size: 54px;
    color: royalblue;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: 'algerian', sans-serif;
}

#packages>.card {
    margin: 5vh auto 0;
    width: 90%;
    height: 40vh;
    border-radius: 18px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 10px 2px rgba(65, 105, 225, 0.3);
}

#packages>.card>div {
    flex: 1;
}

.p-img {
    overflow: hidden;
}

.p-img img {
    width: 100%;
    height: 100%;
    border-radius: 18px 0 0 18px;
    transition: transform 0.3s;
}

.p-des {
    padding: 0 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.p-des>div:nth-child(1) {
    font-family: 'algerian', sans-serif;
    text-align: center;
}

.p-des>div:nth-child(2) {
    font-size: small;
    padding: 0 20px;
    text-align: justify;
}

.package-icons {
    width: 70%;
    height: 15%;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    display: flex;
}

.package-icons>div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.package-icons>div {
    font-size: 75%;
}

.package-icons>div i {
    color: royalblue;
    margin-right: 4px;
}

.p-price {
    color: white;
    border-radius: 0 18px 18px 0;
    background-color: rgba(65, 105, 225, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 25px 0;
}

.p-price>div:nth-child(1) {
    font-size: 125%;
}

.p-price>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p-price .btn-book-now {
    cursor: pointer;
    padding: 10px;
    border-radius: 18px;
    border: 2px solid white;
    transition: background-color 0.3s;
    animation: zoomer 1s linear infinite;
}

@keyframes zoomer {
    50% {
        transform: scale(1.2);
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    }
}

.p-price .btn-book-now:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.p-price>div:nth-child(2)>div:nth-child(1) {
    font-size: 200%;
    font-weight: 900;
}

.p-img:hover img {
    transform: scale(1.2);
}

.view-more {
    margin: 5vh auto 0;
    padding: 20px;
    width: fit-content;
    height: 10vh;
    color: white;
    background-color: royalblue;
    border-radius: 12px;
    cursor: pointer;
}

#gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#gallery>div {
    position: relative;
    cursor: pointer;
    width: 30%;
    margin: 10px 0;
    border-radius: 12px;
    overflow: hidden;
}

#gallery>div>.overlay {
    z-index: 1;
    display: grid;
    place-items: center;
    color: white;
    font-size: 300%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'algerian', sans-serif;
}

#gallery>div>img {
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    transition: 0.3s;
}

#gallery>div:hover>.overlay {
    opacity: 1;
}

#gallery>div:hover>img {
    transform: scale(1);
}

#blogs {
    width: 100%;
    height: 100vh;
}

#contactus {
    width: 100%;
    padding: 20px;
    color: white;
    background-color: royalblue;
}

#contactus>div {
    width: 100%;
    display: flex;
}

.contact-us-lister {
    flex: 2;
}

.contact-us-lister>div:first-child {
    font-weight: 600;
    margin-bottom: 10px;
    cursor: default;
}

.contact-us-lister>div:not(:first-child) {
    font-size: smaller;
    margin-bottom: 4px;
    cursor: pointer;
}

.contact-us-newsletter {
    flex: 3;
}

.contact-us-newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-us-newsletter>div:first-child {
    font-weight: 600;
    cursor: default;
}


.contact-us-newsletter>div:nth-child(2) {
    font-size: smaller;
    cursor: default;
}

.contact-us-newsletter>div:nth-child(3) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us-newsletter>div:nth-child(3) input {
    width: 60%;
    height: 30px;
    outline: none;
    border: none;
    text-align: center;
    border-radius: 6px 0 0 6px;
}

.contact-us-newsletter>div:nth-child(3) div {
    width: 30%;
    height: 30px;
    color: white;
    background-color: black;
    display: grid;
    place-items: center;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

#contactus>div:nth-child(2)>div {
    margin-top: 25px;
    flex: 1;
    height: 100px;
}

.social-handles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-handles i {
    cursor: pointer;
    padding: 10px;
    font-size: 150%;
    border: 1px solid white;
    border-radius: 50%;
    transition: color 0.3s, background-color 0.3s;
}

.social-handles i:hover {
    background-color: white;
}